html { overflow-y: hidden; }
body {
    margin: 0px;
    font-family: consolas;
}
#toolbar {
    position: fixed;

    width: 100%;
    height: fit-content;

    top: 0px;
    left: 0px;

    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    padding: 5px;
    gap: 5px;
}

#toolbar > .toolbar-btn {
    width: 50px;
    height: 50px;

    padding: 5px;

    background-color: #fff;
    border-radius: 5px;

    transition: .1s ease-in-out;
    cursor: pointer;

    user-select: none;
}
#toolbar > .toolbar-btn > img {
    filter: invert(1);
}
#toolbar > .toolbar-btn:hover {
    background-color: #eee;
}
#toolbar > .toolbar-btn.selected {
    background-color: #eee;
    cursor: default;
}
#toolbar > .toolbar-divider {
    padding: 0px;
    margin: auto 10px;
    height: 50px;

    border-left: 1px solid #eee;
}
#backBtn {
    margin-left: auto;
    margin-right: 10px;
    display: none;
}